
@media screen and (min-width: 900px) {
  .corner-link {
    position: fixed;
    top: 0;
    left: 0;
    width: 450px;
    height: 300px;

    
    background-color: rgba(54, 54, 54, 0.8); /* semi-transparent triangle */
    clip-path: polygon(0 0, 100% 0, 0 80%);
    z-index: 9999;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .corner-link:hover {
    background-color: rgba(54, 54, 54, 0.9);
  }

  .corner-text {
  transform: rotate(-28.3deg); /* adjust for visual alignment */
  color: #90f43c;
  font-weight:600;
  font-size:80px;
  margin-top:18px;
  margin-left:-20px;
  pointer-events: none; /* ensures clicking goes to the <Link> */
  user-select: none;
  }

  .mobileHomeLink{
    display:none;
  }
}

